.Internacionales{
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.Main-Content-Internacionales{
    background-color: #1E2029;
    color: white;
}